
::-webkit-scrollbar {
    display: none;
}
*{
    margin: 0;
    padding: 0;
}
body {
background-image: url("sprite\\WebSite\\background.png");
}
.titre {
    height: 70px;
    line-height: 65px;
    text-align: center;
    font-family: "Arial Black";
    color: white;
    background-color: #0e0e0e;
    border-bottom: 3px solid white; 

}
canvas {
    background-color: #000000;
    align-items: center;
    width: 80%;
    height: 80%;
    /* position: absolute; */
    left: 10%;
}

.commandes {

    text-align: center;
    margin-top: -80px;
    
    
}